*{
  box-sizing: border-box;
}

img{
  width: 50%;
}

.blended {
  background-image: url(face.jpg);
  background-color: red;
  background-blend-mode: multiply;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -1.25rem;
  color:white;
}
h1 span {
  mix-blend-mode: multiply;
}
h1 span:nth-child(1) {
  color: rgba(#AB1795, 0.75);
}
.fixed {
  position: fixed;
  font-size: 40px;
  top: 0px;
  left: 20px;
  z-index: 100;
  padding: 0px;
}
